@import "../../../styles/global.scss";
.card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $fifth-color;
  cursor: pointer;

  &__image {
    width: 180px;
    height: 180px;
    border-radius: $border-radius;
    padding: $small;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: $large;

    &-amount {
      display: flex;
      align-items: center;
      gap: $extra-small;

      &__price {
        font-size: $medium;
        color: $second-color;
      }
    }

    &__title {
        font-size: 18px;
        color: $second-color;
    }
  }
}
